extends ../layout

block body
    div(layout="column", layout-fill, flex=33, ng-controller="clientsController", height="100%")
      md-content(flex="10", md-theme="docs-dark", ng-style="{'overflow':'hidden'}")
        form(ng-submit="$event.preventDefault()", layout="row", layout-fill, layout-padding, layout-align="center center")
          md-input-container(flex="90",ng-style="{'margin-top':'20px','margin-bottom':'0px'}")
            label Nom, prénom ou code barre
            input(ng-model="searchText")
          md-button(class="md-fab md-mini md-primary")
            md-icon(class="material-icons") search
      md-content(layout="column",flex="90")
        md-list
          md-list-item(class="md-3-line", ng-repeat="client in querySearch(searchText)", ng-click="null", on-repeat-directive)
            img(data-ng-src="{{client.pictures[0].content}}", class="md-avatar", alt="{{client.last_name}} {{client.first_name}}")
            div(class="md-list-item-text")
              h3 {{client.lastName | uppercase}} {{client.firstName | uppercase}}
              h4 {{client.studentYear.description}}
            md-divider(md-inset,ng-if="!$last")
    div(layout="row", flex)

    script(src='//code.jquery.com/jquery-2.1.4.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js')
    script(src='js/utils.js')  
    script(src='js/app.js')