extends ../layout

block body
  div(layout="row",flex=100,ng-controller="rootUsersController")
    div(layout="column", layout-fill, flex=33, ng-controller="usersController", height="100%")
      md-content(flex="none", md-theme="search-dark", ng-style="{'overflow':'hidden'}")
        form(ng-submit="querySearch(searchText)", layout="row", layout-fill, layout-padding, layout-align="center center")
          input(type="submit", style="position: absolute; left: -9999px; width: 1px; height: 1px;")
          md-input-container(flex="90", ng-style="{'margin-top':'20px','margin-bottom':'0px'}")
            label Nom ou code barre
            input(ng-model="searchText", ng-change="querySearch(searchText)", )
          md-button(class="md-fab md-mini md-primary", ng-click="querySearch(searchText,true)")
            md-tooltip
                | Rechercher
            md-icon(class="material-icons") search
      md-content(layout="column",flex="90", md-theme="search")
        md-progress-linear(md-mode="indeterminate",ng-disabled="isFinishedLoadingSearchQuery")
        md-list
          md-list-item(class="md-3-line", ng-repeat="user in users", ng-click="loadUser(user.id)", on-repeat-directive)
            img(data-ng-src="{{user.pictures[0].content}}", class="md-avatar", alt="{{user.lastName}} {{user.firstName}}")
            div(class="md-list-item-text")
              h3 {{user.lastName | uppercase}} {{user.firstName | uppercase}}
              h4 {{user.studentYear.description}}
            md-button(class="md-icon-button",ng-click="loadUser(user.id)")
              md-tooltip
                | Editer
              md-icon(class="material-icons") mode_edit
            md-button(class="md-icon-button",ng-click="duplicateUser(user)")
              md-tooltip
                | Dupliquer
              md-icon(class="material-icons") content_copy
            md-button(class="md-icon-button md-mini md-warn",ng-click="deleteUser(user.id)")
              md-tooltip
                | Supprimer
              md-icon(class="material-icons") delete
            md-divider(md-inset,ng-if="!$last")

    div(layout="column", layout-fill, ng-controller="singleUserController", height="100%")
      form(ng-submit="saveUser()", layout="column", flex)
        input(type="submit",style="position: absolute; left: -9999px; width: 1px; height: 1px;")
        md-content(flex="none", md-theme="edit-dark", ng-style="{'overflow':'hidden', 'padding-top':'27px','padding-bottom':'27px'}", layout="row", layout-fill, layout-padding, layout-align="start center")
          md-button(class="md-fab md-mini md-primary",ng-click="clearUser()")
            md-tooltip
              | Créer un nouvel utilisateur
            md-icon(class="material-icons") add
          md-button(class="md-fab md-mini md-primary",ng-click="saveUser()")
            md-tooltip
              | Sauvegarder
            md-icon(class="material-icons") save
          md-button(class="md-fab md-mini md-warn",ng-click="deleteUser(user.id)")
            md-tooltip
              | Supprimer
            md-icon(class="material-icons") delete
        md-content(flex="10", layout="row", layout-padding, md-theme="edit", id="formContent")
          div(flex="20")
            img(data-ng-src="{{user.pictures[0].content}}", class="md-avatar", alt="{{user.lastName}}")
          div(flex, layout="column")
            div(layout="row")
              md-input-container(flex="50")
                label Nom
                input(ng-model="user.lastName")
              md-input-container(flex="50")
                label Prénom
                input(ng-model="user.firstName")
            div(layout="row")
              md-input-container(flex=33)
                label Email
                input(ng-model="user.email")
              md-input-container(flex=33)
                label Tél Portable 
                input(ng-model="user.cellPhone")
              md-input-container(flex=33)
                label Tél Maison 
                input(ng-model="user.homePhone")
            div(layout="row")
              md-input-container(flex)
                label Type d'utilisateur
                md-select(ng-model="user.userTypeId")
                  md-option(ng-repeat="type in userTypes", value="{{type.id}}") 
                    | {{type.description}}
              md-input-container(flex)
                label Section
                md-select(ng-model="user.studentYearId")
                  md-option(ng-repeat="year in studentYears", value="{{year.id}}")
                    | {{year.description}}
              md-input-container(flex, layout-align="center center")
                div(flex)
                  | &nbsp;&nbsp;&nbsp; Inscrit &nbsp;&nbsp;&nbsp;
                  md-checkbox(ng-model="user.isRegistered",flex, aria-label="inscrit")
    script(src='js/users.js')