[class^="icon-"]:before,
[class*=" icon-"]:before {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

md-toast.md-success-toast-theme .md-toast-content {
  background-color: green;
}

md-toast.md-error-toast-theme .md-toast-content {
  background-color: red;
}

.userPicture {
    width: 100%;
    border-radius: 50%;
}
