
<div layout="column" layout-fill="layout-fill" ng-controller="singleItemController" height="100%">
  <form ng-submit="saveItem()" layout="column" flex="flex">
    <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
    <md-content flex="none" md-theme="edit-dark" ng-style="{'overflow':'hidden', 'padding-top':'27px','padding-bottom':'27px'}" layout="row" layout-fill="layout-fill" layout-padding="layout-padding" layout-align="start center">
      <md-button class="md-fab md-mini md-primary" ng-click="clearItem()">
        <md-tooltip>Créer un nouvel outil</md-tooltip>
        <md-icon class="material-icons">add</md-icon>
      </md-button>
      <md-button class="md-fab md-mini md-primary" ng-click="saveItem()">
        <md-tooltip>Sauvegarder</md-tooltip>
        <md-icon class="material-icons">save</md-icon>
      </md-button>
      <md-button class="md-fab md-mini md-warn" ng-click="deleteItem(item.id)">
        <md-tooltip>Supprimer</md-tooltip>
        <md-icon class="material-icons">delete</md-icon>
      </md-button>
    </md-content>
    <md-content flex="10" layout="row" layout-padding="layout-padding" md-theme="edit" id="formContent">
      <div flex="20"><img class="md-avatar" data-ng-src="{{item.pictures[0].content}}" alt="{{item.name}}"/></div>
      <div flex="flex" layout="column">
        <md-input-container>
          <label>Nom</label>
          <input ng-model="item.name" required="required"/>
        </md-input-container>
        <div layout="row">
          <md-input-container flex="50">
            <label>Marque</label>
            <input ng-model="item.brand"/>
          </md-input-container>
          <md-input-container flex="50">
            <label>Modèle</label>
            <input ng-model="item.model"/>
          </md-input-container>
        </div>
        <div layout="row">
          <md-input-container flex="50">
            <label>Numéro de série</label>
            <input ng-model="item.serialNumber"/>
          </md-input-container>
          <md-input-container flex="50">
            <label>Numéro d'inventaire</label>
            <input ng-model="item.inventoryNumber"/>
          </md-input-container>
        </div>
        <div layout="row">
          <md-input-container flex="50">
            <label>Catégorie</label>
            <md-select ng-model="item.itemCategoryId">
              <md-option ng-repeat="cat in itemCategories" value="{{cat.id}}" ng-click="console.log('m')">{{cat.description}}</md-option>
            </md-select>
          </md-input-container>
          <md-input-container flex="50">
            <label>Emplacement</label>
            <md-select ng-model="item.itemLocationId">
              <md-option ng-repeat="loc in itemLocations" value="{{loc.id}}">{{loc.description}}</md-option>
            </md-select>
          </md-input-container>
        </div>
        <div layout="row">
          <md-input-container flex="50">
            <label>Prix d'achat</label>
            <input ng-model="item.acquisitionPrice" type="number" step="0.01"/>
            <md-icon class="material-icons">euro_symbol</md-icon>
          </md-input-container>
          <md-input-container flex="50">
            <label>Date d'achat</label>
            <md-datepicker ng-model="item.acquisitionDate"></md-datepicker>
          </md-input-container>
        </div>
        <md-input-container>
          <label>Description</label>
          <textarea ng-model="item.description" md-maxlength="150"></textarea>
        </md-input-container>
        <div layout="row">
          <md-input-container flex="flex">
            <label>Stock Maximum</label>
            <input ng-model="item.stockCounts[0].quantity" type="number" ng-step="item.stockStep"/>
          </md-input-container>
          <md-input-container flex="flex">
            <label>Actuellement en stock</label>
            <input ng-model="item.stockAvailable" type="number" ng-step="item.stockStep" ng-style="checkStockAvailable(item)"/>
          </md-input-container>
          <md-input-container flex="flex" layout-align="center center">
            <div>Consommable &nbsp;
              <md-checkbox ng-model="item.isConsummable" flex="flex" aria-label="consommable"></md-checkbox>
            </div>
          </md-input-container>
        </div>
      </div>
    </md-content>
  </form>
</div>